@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');




.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
  z-index: 10000000;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.3s ease-in-out;
}

.loader2{
  clip-path: circle(0% at 100% 0);
}

.dog {
  width: 100px;
  height: 100px;
  z-index: 9999;
}
.dog:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(118, 118, 118, 0.233);
  border-radius: 50%;
  -webkit-transform: translateY(-30%) scale(1.5);
  transform: translateY(-30%) scale(1.5);
}
.dog * {
  position: absolute;
}

.dog-body {
  top: -50%;
  -webkit-animation: dog-body 200ms ease-in-out infinite alternate;
  animation: dog-body 200ms ease-in-out infinite alternate;
}
.dog-body:before {
  content: "";
  position: absolute;
  bottom: 90%;
  right: 50%;
  width: 90%;
  height: 90%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-animation: dog-tail-blur 200ms 33.3333333333ms ease-in-out infinite
    alternate both;
  animation: dog-tail-blur 200ms 33.3333333333ms ease-in-out infinite alternate
    both;
}
@-webkit-keyframes dog-tail-blur {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes dog-tail-blur {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes dog-body {
  from {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  to {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
}
@keyframes dog-body {
  from {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  to {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
}

@-webkit-keyframes dog-head {
  from,
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  33.3% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  66.6% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes dog-head {
  from,
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  33.3% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  66.6% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.dog-torso {
  display: none;
  top: -20%;
  animation: dog-torso 200ms ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes dog-torso {
  from {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  to {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
}
@keyframes dog-torso {
  from {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  to {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
}
.dog-eyes {
  width: 60%;
  top: 46%;
  left: 20%;
  z-index: 1;
}
.dog-eyes:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  background: #bb8c53;
  top: -10px;
  left: -10px;
  z-index: 0;
  box-shadow: inset -12px -8px 40px rgba(118, 118, 118, 0.2);
  border: 4px solid #fcfcfc;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dog-eye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #544258;
  z-index: 1;
  -webkit-animation: dog-eye 1800ms infinite;
  animation: dog-eye 1800ms infinite;
}
@-webkit-keyframes dog-eye {
  from,
  to {
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
    opacity: 1;
  }
  50%,
  55% {
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    opacity: 0;
  }
}
@keyframes dog-eye {
  from,
  to {
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
    opacity: 1;
  }
  50%,
  55% {
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    opacity: 0;
  }
}
.dog-eye:first-child {
  left: 0;
}
.dog-eye:last-child {
  right: 0;
}

.dog-muzzle {
  width: 60%;
  left: 20%;
  height: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: #f9f9f9;
  bottom: -15%;
  box-shadow: inset -12px -8px 40px rgba(255, 255, 255, 0.233);
}

.dog-muzzle:before,
.dog-muzzle:after {
  content: "";
  display: block;
  position: absolute;
}
.dog-muzzle:before {
  width: 6px;
  height: 20px;
  bottom: 0;
  left: calc(50% - 3px);
  background: rgba(84, 66, 88, 0.233);
}
.dog-muzzle:after {
  background: #544258;
  width: 20px;
  height: 15px;
  bottom: 12px;
  left: calc(50% - 10px);
  border-bottom-left-radius: 60% 60%;
  border-bottom-right-radius: 60% 60%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}

.dog-tongue {
  width: 40px;
  height: 100%;
  left: calc(50% - 20px);
  z-index: -1;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: dog-tongue 1800ms -50ms ease-in-out infinite;
  animation: dog-tongue 1800ms -50ms ease-in-out infinite;
}
@-webkit-keyframes dog-tongue {
  from,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  16.6666666667% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  33.3333333333%,
  66.6666666667% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50%,
  83.3333333333% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
@keyframes dog-tongue {
  from,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  16.6666666667% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  33.3333333333%,
  66.6666666667% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50%,
  83.3333333333% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
.dog-tongue:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #fd3163;
  -webkit-animation: dog-tongue-inner 100ms ease-in-out infinite alternate;
  animation: dog-tongue-inner 100ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tongue-inner {
  from {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    -webkit-transform: translateY(22%);
    transform: translateY(22%);
  }
}
@keyframes dog-tongue-inner {
  from {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    -webkit-transform: translateY(22%);
    transform: translateY(22%);
  }
}
.dog-ears {
  width: 40%;
  top: 16%;
  left: 30%;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.233));
  -webkit-animation: dog-ears 1800ms 100ms ease infinite;
  animation: dog-ears 1800ms 100ms ease infinite;
}
@-webkit-keyframes dog-ears {
  42.3%,
  71.6% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50.3%,
  79.6% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  12% {
    -webkit-transform: rotate(-5%);
    transform: rotate(-5%);
  }
  from,
  33.3%,
  66%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes dog-ears {
  42.3%,
  71.6% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50.3%,
  79.6% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  12% {
    -webkit-transform: rotate(-5%);
    transform: rotate(-5%);
  }
  from,
  33.3%,
  66%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.dog-ear {
  bottom: -10px;
  height: 50px;
  width: 50px;
  background: #705431;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.dog-ear:first-child {
  border-bottom-left-radius: 95%;
  border-top-right-radius: 80%;
  right: 100%;
  box-shadow: inset -15px 8px 0 1px #bb8c53;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.dog-ear:last-child {
  border-top-left-radius: 95%;
  border-bottom-right-radius: 80%;
  left: 100%;
  box-shadow: inset 15px 8px 0 0 #bb8c53;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.dog-tail {
  width: 10px;
  height: 50px;
  position: absolute;
  top: -48px;
  left: calc(50% - 5px);
  background-color: #f7b66c;
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
}

.dog-tail {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes dog-tail-segment {
  from {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@keyframes dog-tail-segment {
  from {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
.dog-body > .dog-tail {
  bottom: 90%;
  -webkit-animation: dog-tail 200ms ease-in-out infinite alternate;
  animation: dog-tail 200ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tail {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes dog-tail {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.dog-body,
.dog-torso,
.dog-head {
  border-radius: 50%;
  background: #f7b66c;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset -12px -8px 40px rgba(118, 118, 118, 0.233);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.233)) brightness(100%);
}

.dog-body,
.dog-torso {
  
  box-shadow: inset -12px -8px 40px #bb8c53;
}

.dog-head {
  -webkit-animation: dog-head 1800ms cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
  animation: dog-head 1800ms cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
  background: #f7b66c;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}




/******************************************************************LOADER************************************************************************/




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/img9.jfif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Patrick Hand", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0;
  z-index: -1;
}

body::-webkit-scrollbar{
  width: 0px;
  background: rgba(255,255,255,0.2);
}

.nav{
  background: url(../img/banner.jfif);
  color: white;
  padding: 20px;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  z-index: 1;
}

.nav_loogo{
  font-size: 1.5em;
  font-weight: 900;
}

.nav_container{
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav_menu{
  display: flex;
  grid-auto-flow: row;
  gap: 1em;
}

.nav_item{
  color: #fff;
  text-decoration: none;
  line-height: normal;

  display: inline-block;
    color: #f9f9f9;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;

  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav_item:hover{
  background: #691111;
  border-radius: 50px;
}

.nav_label, .nav_input{
  display: none;
}

@media (max-width: 1400px){
  .nav_label{
    display: block;
    cursor: pointer;
  }
  .nav_menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #640404;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0.0% at 100% 0);
    transition: clip-path 1s ease-in-out;
  }

  .nav_input:checked + .nav_menu{
    clip-path: circle(141.2% at 100% 0);
  }
}



/***************************************************************CONTENIDO*************************************************************************************/

p{
  margin-bottom: 1.6rem;
}

.main {
  padding-top: 7rem;
  z-index: -1;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
a{
  text-decoration: none;
  color: #f9f9f9;
}
.footer {
  font-size: 15px;
  text-align: center;
  margin-top: 3px;
}

@media (max-width: 700px){
  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
}

/*************************************************REPRODUCTOR**********************************/

html, body {
  align-items: center;
  justify-content: center;
  font-family: "Patrick Hand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  flex-wrap: wrap;

  bottom: 443px;

  left: -150px;
  transition: 1s ease-out;
  z-index: 1;
}



.player:hover{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  flex-wrap: wrap;
  position: fixed;
  bottom: 443px;
  left: 0;
}


.player .control-panel {
  position: relative;
  background-color: #640404;
  border-radius: 15px;
  width: 170px;
  height: 80px;

}


.player .control-panel .album-art::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
}

.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0).2;
  transform: scale(1.2);
  transition: all o.5s ease;
}

.player .control-panel .controls {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  padding: 0 15px
}

.player .control-panel .controls .prev,
.player .control-panel .controls .play,
.player .control-panel .controls .next {
  width: 55px;
  height: auto;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 0;
  background-color: #640404;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

.player .control-panel .controls .prev:hover,
.player .control-panel .controls .play:hover,
.player .control-panel .controls .next:hover {
  background-color: #640404;
  transition: background-color 0.3s ease;
}

.player .control-panel .controls .prev {
  background-image: url(../img/back.svg);
}

.player .control-panel .controls .play {
  background-image: url(../img/play.svg);
}

.player .control-panel .controls .next {
  background-image: url(../img/next.svg);
}

.player .control-panel.active .controls .play {
  background-image: url(../img/stop.svg);
}
